# avoid version control files.
.git

# avoid temp and backup files.
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid build files
.build

# avoid compiled gettext files
*.mo

# avoid archives of this distribution
Dist-Zilla-Plugin-Test-Compile*

